<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/128/3512/3512709.png"/>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   
</head>
<body>
    <div class="home-header-container">
        <div class="home-header-content">
            <div class="left-container">
              <h1>
                <a href="/" class="logo">
                  <img src="https://datsantructuyen.vn/images/config/logo_1658658270.png" alt="logo">
                </a>
              </h1>     
            </div>
            <div class="center-container">
                <ul id="navbar-1">
                    <li class="hello-1"><a href="/home?page=1" class="hello">Sân bóng</a></li>
                    <li class="hello-1"><a href="/edit" class="hello">Chỉnh thông tin sân</a></li>
                    <li class="hello-1"><a href="/revenue" class="hello">Doanh thu</a></li>
                </ul>
            </div>
            <div class="right-container">
                    <div class="list-log-in">
                      <a href="/logout-user">
                        <div class="list-picture-log-in">Hoàng</div>
                      </a>
                    </div>
                   
                    
            </div>
        </div>
        
        <div class="clear"></div>
    </div>
    
    <div id="welcome-image">
      <div class="block-container">
        <div class="wrap-banner">
          <h1 class="wrap-text">Welcome to Booking Stadium</h1>
          <div class="under-ft-text">Tìm kiếm sân chơi thể thao khắp thế giới</div>
        </div>
      </div>
    </div>
    <div class="contents-newspaper">
      <div class="content-container">
        <div class="top-content">
          <h1 class="top-content-text">Tin thể thao</h1>
          <div class="under-ft-text">Cập nhật thông tin mới nhất về các sân thể thao và những sự kiện nổi bật</div>
        </div>
        <div class="new-list-body cls">
          <div class="new-item">
            <div class="new-img">
              <img src="https://vncdn.sabasports.com/2023/06/KET-QUA-U17-HAN-QUOC-VS-U17-UZBEKISTAN.jpg" alt="" class="lazy after-lazy">
            </div>
            <div class="new-content-item">
              <div class="date-create">
                <div class="date">
                  30/6/2023 . by admin
                </div>
              </div>
              <div class="title">
                <a href="", title="Khám phá thế giới đá banh">
                  Kết quả bóng đá U17 Hàn Quốc vs U17 Uzekistan: Xuất hiện chung kết trong mơ
                </a>
              </div>
              <div class="summary">
                Đụng độ đối thủ không hề dễ chơi U17 Uzbekistan, tuy nhiên bản lĩnh giúp U17 Hàn Quốc vượt qua để tiến vào trận chung kết với U17 Nhật Bản.
              </div>
            </div>
          </div>
          <div class="new-item">
            <div class="new-img">
              <img src="https://images.elipsport.vn/anh-seo-tin-tuc/2020/11/9/4-san-bong-da-hien-dai-nhat-the-gioi-2.jpg" alt="" class="lazy after-lazy">
            </div>
            <div class="new-content-item">
              <div class="date-create">
                <div class="date">
                  30/6/2023 . by admin
                </div>
              </div>
              <div class="title">
                <a href="", title="Khám phá thế giới đá banh">
                  Khám phá những sân vận động đẹp nhất thế giới
                </a>
              </div>
              <div class="summary">
                Cùng chúng tôi khám phá những sân bóng đá đẹp nhất thế giới, bước chuyển mình ngoạn mục chuẩn bị cho euro 2024
              </div>
            </div>
          </div>
          <div class="new-item">
            <div class="new-img">
              <img src="https://static-images.vnncdn.net/files/publish/2023/6/29/sot-deo-mu-no-bom-tan-mason-mount-60-trieu-bang-1997.jpg?width=" alt="" class="lazy after-lazy">
            </div>
            <div class="new-content-item">
              <div class="date-create">
                <div class="date">
                  30/6/2023 . by admin
                </div>
              </div>
              <div class="title">
                <a href="", title="Khám phá thế giới đá banh">
                  Welcome to Old Trafford Mason Mount
                </a>
              </div>
              <div class="summary">
                Theo báo cáo, đội chủ sân Old Trafford đã đạt được thỏa thuận ký hợp đồng với tiền vệ Mason Mount của Chelsea
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="contents-newspaper">
      <div class="content-container">
        
        <div class="new-list-body cls">
          <div class="new-item">
            <div class="new-img">
              <img src="https://vncdn.sabasports.com/2023/06/5-giai-vdqg-hang-dau-chau-au.jpg" alt="" class="lazy after-lazy">
            </div>
            <div class="new-content-item">
              <div class="date-create">
                <div class="date">
                  30/6/2023 . by admin
                </div>
              </div>
              <div class="title">
                <a href="", title="Khám phá thế giới đá banh">
                  Ai kiến tạo nhiều nhất 5 giải VĐQG hàng đầu châu Âu mùa 2022/23
                </a>
              </div>
              <div class="summary">
                Hãy cùng điểm qua những cái tên sở hữu nhiều đường chuyền thành bàn nhất ở 5 giải đấu hàng châu Âu mùa bóng vừa qua.
              </div>
            </div>
          </div>
          <div class="new-item">
            <div class="new-img">
              <img src="https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/blt2eae8c383ce1039d/648793e195265c8303833751/Real_Madrid_2025.jpg?auto=webp&format=pjpg&width=3840&quality=60" alt="" class="lazy after-lazy">
            </div>
            <div class="new-content-item">
              <div class="date-create">
                <div class="date">
                  30/6/2023 . by admin
                </div>
              </div>
              <div class="title">
                <a href="", title="Khám phá thế giới đá banh">
                  Có Bellinghame, Real sẽ đá với sơ đồ nào?
                </a>
              </div>
              <div class="summary">
                Với việc chiêu mộ thành công tiền vệ đa năng này, đội bóng có thể chuyển sang đội hình 4-2-3-1 thay vì 4-3-3 quen thuộc.
              </div>
            </div>
          </div>
          <div class="new-item">
            <div class="new-img">
              <img src="https://vncdn.sabasports.com/2023/06/Lich-thi-dau-world-cup-nu-2023-1-1.jpg" alt="" class="lazy after-lazy">
            </div>
            <div class="new-content-item">
              <div class="date-create">
                <div class="date">
                  30/6/2023 . by admin
                </div>
              </div>
              <div class="title">
                <a href="", title="Khám phá thế giới đá banh">
                  Lịch thi đấu bóng đá World Cup nữ 2023 đầy đủ nhất
                </a>
              </div>
              <div class="summary">
                Cập nhật lịch thi đấu bóng đá WC nữ 2023 đầy đủ và chính xác nhất. Xem LTĐ của đội tuyển nữ Việt Nam tranh tài cùng 31 đội bóng tại World Cup bóng đá nữ 2023
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dai"></div>
    <div id="toast-1">
      <div class="toast">
        <div class="toast__icon">
          <i class="fa fa-check-circle"></i>
        </div>
        <div class="toast__body">
          <a class="toast__title">SUCCESS</a>
          <p class="toast__msg">Đăng nhập thành công</p>

        </div>
        <div class="toast__close">
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    
  <!-- <div>
    <div onclick="showSuccessToast();" class="btn btn--success">Show succsess toast</div>
    <div onclick="showErrorToast();" class="btn btn--error">Show failed toast</div>
    <div onclick="showWarningToast();" class="btn btn--warning">Show warning toast</div>
  </div> -->
  <div id="footer">
    <div class="top-ft">
      <div class="top-ft-left">
        <img width="" height="" class="logo_footer lazy after-lazy" alt="Ankaza.vn" src="https://datsantructuyen.vn/images/config/logo_chan_1658658538.png" style="opacity: 1; display: none;">
      </div>
      <div class="top-ft-center">
        <div class="margin-lazy"> <a class="h1-footer">Đối tác thanh toán</a></div>
       
        <div class="margin-lazy">Vietcombak</div>
        <div class="margin-lazy">Agribank</div>
        <div class="margin-lazy">Momo</div>
      </div>
      <div class="top-ft-right">
        <div class="margin-lazy"><a class="h1-footer">Thông tin liên hệ</a></div>
        
        <li class="margin-lazy"><a>Địa chỉ: Đại học Bách Khoa Hà Nội</a></li>
        <li class="margin-lazy"><a>Điện thoại: 0946860802</a></li>
        <li class="margin-lazy"><a>Email: hoang.nq203431@sis.hust.edu.vn</a></li>
        <li class="margin-lazy"><a>Facebook: Hoang Nguyen</a></li>
        
        
        
      </div>
    </div>
    <div class="under-ft">
      <div class="under-ft-text">All rights reserved 2023 BOOKING.COM</div>
      
    </div>
</div>
     <script>
          const main = document.getElementById("toast-1")
          const toast = document.getElementsByClassName("toast")
          //auto remove
          const autoRemoveId = setTimeout(function(){
            main.remove()
          },2000)
          //set remove
          toast.onclick  = function(e){
            if(e.target.closest('.toast__close')){
              main.remove()
              clearTimeout(autoRemoveId)
            }
          }
     </script>
</body>
</html>